@model Proyecto1.Models.visit_shrine

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-white">Eliminar</h2>

<h2 class="text-white">¿Estas seguro de eliminar esto?</h2>
<div>
    <h2 class="text-white">Visitas y Santuarios</h2>
    <hr />
    <table class="table table-primary table-striped col-md-5">
        <tbody>

            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.santuario.Nombre)</strong></td>
                <td>@Html.DisplayFor(model => model.santuario.Nombre)</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.visita.Nombre)</strong></td>
                <td>@Html.DisplayFor(model => model.visita.Nombre)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
