@model IEnumerable<Proyecto1.Models.visit_shrine>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-white">Visitas y Santuarios</h2>

<p class="text-white">
    @Html.ActionLink("Crear uno nuevo", "Create")
</p>
<table class="table" id="VS">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.santuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visita.Nombre)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.santuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.visita.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section  Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready( function () {
            $('#VS').DataTable();
        } );
    </script>
}
