@model Proyecto1.Models.sanctuary

@{
    ViewBag.Title = "Details";
}

<h2 class="text-white">Detalles</h2>

<div>
    <h2 class="text-white">Santuarios</h2>
    <hr />
    <table class="table table-primary table-striped col-md-5">
        <tbody>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Nombre)</strong></td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
            <tr>
                <td><strong> @Html.DisplayNameFor(model => model.Ubicacion)</strong></td>
                <td> @Html.DisplayFor(model => model.Ubicacion)</td>
            </tr>
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Descripcion)</strong></td>
                <td>@Html.DisplayFor(model => model.Descripcion)</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
