@model Proyecto1.Models.biodiversity

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-white">Eliminar</h2>

<h3 class="text-white">¿Seguro de eliminar esto?</h3>
<div>
    <h3 class="text-white">Biodiversidad</h3>
    <hr />
    <div class="col-md-5">
        <table class="table table-secondary table-striped">
            <tbody>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.santuario.Nombre)</strong></td>
                    <td>@Html.DisplayFor(model => model.santuario.Nombre)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Nombre)</strong></td>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Tipo)</strong></td>
                    <td>@Html.DisplayFor(model => model.Tipo)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Descripcion)</strong></td>
                    <td>@Html.DisplayFor(model => model.Descripcion)</td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Especie)</strong></td>
                    <td>@Html.DisplayFor(model => model.Especie)</td>
                </tr>
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
